@import "style.scss";

.container{
  text-align: center;
  padding: 0 5%;
}
header{
  border-bottom: 1px solid white;
  .container{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  span{
    display: inline-block;
    color: white;
    line-height: 2rem;
  }
  .previous{
    width: 2rem;
    height: 2rem;
    background: url('../images/simpleMode_06.png') no-repeat center;
    background-size: 1rem;
  }
  .assist{
    @extend .previous;
    background: url('../images/simpleMode_03.png') no-repeat center;
    background-size: 2rem;
  }
}
main{
  div{
    margin: 0.5rem 0;
  }
  .title{
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 1px 1px #a1a1a1;
  }
  .gamerDisplay{
    min-height: 10rem;
    background-color: #fbfbfb;
    span{
      display: inline-block;
      padding: 1rem 1rem 1rem 3.5rem;
      line-height: 3rem;
      text-align: left;
    }
    em{
      font-style: normal;
    }
    .killer{
      width: 30%;
      min-width: 7rem;
      height: 3rem;
      background: url('../images/simpleMode_01.png') no-repeat left;
      background-size: 3rem;
    }
    .human{
      width: 30%;
      min-width: 7rem;
      height: 3rem;
      background: url('../images/simpleMode_02.png') no-repeat left;
      background-size: 3rem;
    }
  }
  .gameSetting{
    background-color: white;
    padding: 1rem 0;
    span{
      width: 80%;
      height: 2rem;
      line-height: 2rem;
      border-bottom: 2px solid #d7d7d7;
      margin: auto;
      color: #d7d7d7;
      font-weight: bold;
      text-align: left;
      display: none;
    }
    input{
      display: inline-block;
      border: none;
      width: 50%;
      font-weight: bold;
      color:#a7a7a7;
    }
  }
  .gamerSetting{
    background-color: white;
    min-height: 4rem;
    span{
      padding: 1rem 0;
      display: inline-block;
    }
    input{
      color: #fab344;
      background-color:#f4f5f5;
      border: none;
    }
    .organe{
      font-size: 0.7rem;
    }
  }
  .startGame{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background-color: #fab344;
    color: white;
  }
}
